.custom-radio{
    width: 50%;
    background-color:whitesmoke;
    white-space: nowrap;

}
#role1{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

#role2{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

#role1:hover{
    background-color:#E8E8E8;
}

#role2:hover{
    background-color:#E8E8E8;
}

.btn-large
{
    width: 100%;

}

.noBorder{
    box-shadow: none;
}

.image{
    height:100px;
    width: 100px;
}
.pagefont{
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.5;
    color: #4D525B;
    margin-bottom: 0;
}

.customfileupload{
    border-style: dashed !important;
}

.errormessage
{
    font-size: x-small;
    margin-top: 0px;
    color: red;
    padding-top: 0px;
}



body{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    /*background-image: url("../Images/Login_Test_6.jpg");*/
    /*backgroundColor: 'rgba(0,0,0,.6)';*/
    /*height: 100%;*/
    /*width: 100%;*/
}

.cusCard{
    width: 100% !important;
    margin-bottom: 10px !important;
}

.cusMainDiv{
    padding-left: 0px !important; ;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.cusDivNav{
    padding-left: 0px !important; ;
    padding-right: 0px !important;
}

.logoTitle{
    padding-left: 15px;
    color : lightseagreen;
    font-family: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
}
.cusRightNavItems{
    margin-right: 0px;
    /*width: 100% !important;*/
}



/*added by kirati*/
/*added by Kirati*/

.content-header{
    font-family: 'Oleo Script', cursive;
    color:#fcc500;
    font-size: 30px;
}

.section-content{
    text-align: center;

}
#contact{

    font-family: 'Teko', sans-serif;
    /*padding-top: 60px;*/
    width: 100%;
    width: 100vw;
    height: 700px;
    background: #B29999; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, black , #B29999); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, black , #B29999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;
}
.contact-section{
    padding-top: 40px;
}
.contact-section .col-md-6{
    width: 50%;

}

.form-line{
    border-right: 1px solid #B29999;
}

.form-group{
    /*margin-top: 10px;*/
}
label{
    font-size: 1em;
    line-height: 1em;
    font-weight: normal;
}
.form-control{
    font-size: 1em;
    color: #080808;
}
textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

.submit{
    font-size: 0.9em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;

}
/*end kirati*/

.titleBox{
    background-color: #F39C12   ;
}

ul li:nth-child(odd) div:nth-child(1){
background-color: #EAF2F8;
border-left-style: 0.2px solid black !important;

}
