
.image1,.image2,.image3{
    position: relative;
    opacity:0.70;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    /*
    fixed = parallax
    */
    background-attachment: fixed
}
.image1{

    background-image: url('../Images/image1.jpg');
    min-height: 600px;
}

.image2{
    background-image: url('../Images/image2.jpg');
    min-height: 400px;
}

.image3{
    background-image: url('../Images/image3.jpg');
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background: color #f4f4f4;
    color : #666;
}

.section-dark{
    background: black;
    color : #ddd;
}

.ptext{
    position : absolute;
    top : 50%;
    width: 100%;
    text-align : center;
    color : #000;
    font-size: 27px;
    /*
    spacing between each letter
    */
    letter-spacing: 8px;
    /*
    Text to upper case
    */
    text-transform: uppercase;

}